
body {
	background: #0f0e45;
	font-family: Verdana, Tahoma, "Lucida Grande", Helvetica, "Trebuchet MS", sans-serif;
}

#header {
	width: 999px;
	margin: 0px auto 0 auto;
	height: 120px;
	position: relative;
	background: transparent url(headerbg.png) no-repeat scroll 0 0;
}

#sitelogo {
	padding: 27px 20px;
	width: 477px;
	height: 52px;
	display: block;
}

#top_ad {
	padding-bottom: 0;
}

#page {
	width: 999px;
	margin: 0 auto;
}

#content_container {
	width: 999px;
	border-top: 20px solid #549317;
	background: #fff;
}

#content {
	margin: 0 auto 0;
	padding-bottom: 20px;
	background: #fff;
	width: 609px;
}

#sidecolumn {

}

#footer {
	border-top: 20px solid #549317;
	padding-top: 20px;
	width: 999px;
	background: #0f0e45 url(footer-corners.png) no-repeat top left;
	margin: 0 auto;
	color: #f7f7f7;
}

#sidebar ul li h2 {
	font-size: 1.3em;
	font-weight: bold;
	color: #444;
	background: transparent;
	border-bottom: 1px solid #999;
	padding: 0;
}

#sidebar ul li p, #sidebar ul li ul li, #sidebar ul li form {
	padding-left: 0;
}

#sidebar ul li div, #sidebar .rss {
	margin-left: 0;
}

a, a:link, a:visited, a:active {
	color: #967a14;
}

a:hover {
	color: #c6a11a;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	letter-spacing: -.05em;
	color: #333;
}

.post h2 a, .post h2 a:link, .post h2 a:visited, .post h2 a:active {
	color: #967A14;
	font-weight: normal;
}

.post h3 a:hover {
	color: #666 !important;
	text-decoration: none;
}

.post img {
	border: none;
	padding: 0;
}

.post a font {
	color: inherit;
}

#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 10px;
	right: 20px;
}

#menu li {
	position: relative;
	float: left;
	padding: 0;
	list-style: none;
	margin: 0 2px;
	background: #2F4278 url(tab-left.gif) no-repeat top left;
}
#menu a, #menu a:link, #menu a:visited, #menu a:active {
	padding: 10px 1.5em 1em 1.5em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: "Trebuchet MS", "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-weight: bold;
	display: block;
	position: relative;
	line-height: 1em;
	background: transparent url(tab-right.gif) no-repeat top right;
}
#menu a:hover {
	text-decoration: underline;
}

.multi-column h2 {
	padding: 20px;
}

.multi-column .columns {
	padding: 0 20px;
	clear: left;
}

.multi-column .first_article {
	margin-bottom: 2em;
}

.multi-column .post {
	padding: 0;
}

.multi-column .post h3 {
	margin: 0;
	font-size: 1.5em;
}

.multi-column .post h3 a:link, .multi-column .post h3 a:visited, .multi-column .post h3 a:active {
	color: #333;
}

.multi-column .byline {
	color: #666;
	font-size: 0.95em;
	text-transform: uppercase;
}

.multi-column .column {
	float: left;
	width: 31%;
	margin-top: 2em;
	margin-right: 3%;
}

.multi-column .column.right {
	margin-right: 0;
}

.multi-column .column .post img {
	width: 50%;
	max-height: 150px;
}

.clear {
	clear: both;
}
