body {
	background-color: #49B0C9;
	font-family: "Helvetica Neue","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 75%;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#page {
	border: 1.5em solid white;
	border-bottom: 0;
	background: #fff;
}

#header {
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	border-bottom: 1px dashed #ccc;
	text-align: center;
}

#header img {
	margin: 0 auto;
}

a, a:link, a:visited, a:active {
	color: #829900;
}

.post {
	border-bottom: 1px dashed #ccc;
	padding-bottom: .5em;
	margin-bottom: .5em;
	background: #fff;
}

.post h2 {
	border: 0;
	font-size: 3.2em;
	line-height: 1.1em;
	font-weight: bold;
}

.post h2  a, .post h2  a:link, .post h2  a:visited, .post h2  a:active {
	color: #333;
}

.post h2  a:hover {
	color: #49B0C9;
	text-decoration: none;
}

.navigation {
	border: none;
}

#sidebar {
	background: #fff;
}

#side_ad {
        padding-top: 1em; 
}

#sidebar ul {
	background: #fff;
}

#footer {
	margin: 0 -1.5em;
	width: auto;
	background-color: #49B0C9;
	border-top: 1.5em solid #fff;
}

#footer a {
	color: #576600;
}
